body {
 font-family: "Microsoft Yahei", Helvetica, arial, sans-serif ;
  font-size: 17px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 10px; 
color: #516272;}

.markdown-here-wrapper {
  font-size: 17px;
  line-height: 1.8em;
  letter-spacing: 0.1em;
}
pre, code {
  font-size: 15px;
  font-family: Roboto, 'Courier New', Consolas, Inconsolata, Courier, monospace;
  margin: auto 4px;
}
code {
    padding: 2px 4px !important;
    font-size: 90% !important;
    color: #c7254e !important;
    background-color: #f9f2f4 !important;
}
pre {
  font-size: 16px;
  line-height: 1.4em;
  display: block; !important;
 padding: 2px 4px !important;
    font-size: 90% !important;
    color: #c7254e !important;
    background-color: #f9f2f4 !important;
}
pre code {
  white-space: pre;
  overflow: auto;
  border-radius: 3px;
  padding: 1px 1px;
  display: block !important;
  background-color: #f9f2f4 !important;
}
strong, b{
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-size: 90%;
  font-weight:500;
} 
em, i {
  color: #009688;
}
hr {
  border: 1px solid #BF360C;
  margin: 1.5em auto;
}
p {
  margin: 1.5em 5px !important;
}
table, pre, dl, blockquote, q, ul, ol {
  margin: 10px 5px;
}
ul, ol {
  padding-left: 16px;
}
li {
  margin: 10px;
}
li p {
  margin: 10px 0 !important;
}
ul ul, ul ol, ol ul, ol ol {
  margin: 0;
  padding-left: 10px;
}
ul {
  list-style-type: circle;
}
dl {
  padding: 0;
}
dl dt {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}
dl dd {
  margin: 0 0 10px;
  padding: 0 10px;
}
blockquote, q {
  border-left: 5px solid #aa6708;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 0 10px;
  color: #777;
  quotes: none;
  font-size:16px;
  border-radius: 3px;
}
blockquote strong, b{
  color: #aa6708;
  font-size:17px;
  background:none !important;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-style: bold !important;
  color: #6f5a40!important;
  text-align: center !important;
}
h1 {
  font-size: 24px !important;
  text-align: left !important;
  border-bottom: 1px solid #ddd !important;
}
h2 {
  font-size: 22px !important;
  text-align: left !important;
}
h3 {
  font-size: 20px  !important;
  text-align: left !important;
}
h4 {
  font-size: 18px;
  text-align: left !important;
}
h5 {
  font-size: 17px;
  text-align: left !important;
}
table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 12p;
  font: inherit;
  border: 0;
  margin: 0 auto;
}
tbody {
  margin: 0;
  padding: 0;
  border: 0;
}
table tr {
  border: 0;
  border-top: 1px solid #CCC;
  background-color: white;
  margin: 0;
  padding: 0;
}
table tr:nth-child(2n) {
  background-color: #F8F8F8;
}
table tr th, table tr td {
  font-size: 17px;
  border: 1px solid #CCC;
  margin: 0;
  padding: 5px 10px;
}
table tr th {
  font-weight: bold;
  border: 1px solid #CCC;
  background-color: #f9f2f4;
}
* {
 -webkit-print-color-adjust: exact;
}
img {
max-width: 100%; }

@media screen and (min-width: 914px) {
    body {
        width: 854px;
        margin:0 auto;
    }
}
@media print {
    table, pre {
        page-break-inside: avoid;
    }
    pre {
        word-wrap: break-word;
    }
}
